<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form id="login-form">
            <input type="text" id="login-nickname" placeholder="Nickname">
            <input type="password" id="login-password" placeholder="Password">
            <button type="submit">Login</button>
        </form>
        <a href="/view/signup.html">sign_up</a>
    </div>
    <script src="/script/login-script.js"></script>
</body>
</html>
