<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form id="signup-form">
            <input type="email" id="signup-email" placeholder="Email">
            <input type="text" id="signup-nickname" placeholder="Nickname">
            <input type="password" id="signup-password" placeholder="Password">
            <button type="submit" onclick="window.location.href='index.html'">Sign Up</button>
        </form>
    </div>
    <script src="/script/signup-script.js"></script>
</body>
</html>
